@model ShiftOn.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1 style="font-size: 2.5rem;  color: #29aae2; margin-left: 15px;">Подробности</h1>

<div style="margin-left: 15px;">
    <h4 style="color: #29aae2; margin-left: 10px">Служител</h4>
    <hr style="color: #29aae2;" />
    <dl class="row">
        <dt class = "col-sm-2" style="color: #29aae2;">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2" style="color: #29aae2;">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2" style="color: #29aae2;">
            @Html.DisplayNameFor(model => model.ScheduleId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScheduleId)
        </dd>
        <dt class="col-sm-2" style="color: #29aae2;">
            @Html.DisplayNameFor(model => model.VacationRequestId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VacationRequestId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UserId" style="margin-left: 15px; text-decoration: none;">Редактирай</a> | <a asp-action="Index" style="text-decoration: none;">Обратно към таблицата</a>
</div>
